@import url("badcomic/stylesheet.css");

* {
	box-sizing: border-box;
	color: #feecd2;
	font-family: "BadComic";
}

body {
	background-color: #241601;
	background-size: 32px 32px;
	background-position: -1px -1px;
	background-image: linear-gradient(90deg, #271c0b 2px, transparent 1px),
		linear-gradient(180deg, #271c0b 2px, transparent 1px);
	display: flex;
	flex-direction: column;
	margin: 0;
}

.bg {
	pointer-events: none;
	object-fit: contain;
	image-rendering: pixelated;
	position: absolute;
	width: 100%;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
}

html,
body {
	min-height: 100%;
}

a {
	text-decoration: none;
	color: #ffc16f;
}

.frame {
	backdrop-filter: blur(8px);
	border: solid 2px #3a2402;
	max-width: calc(min(70ch, 100svw));
	width: 70ch;
	min-width: 0;
	margin: auto;
	margin-bottom: 32px;
	margin-top: 64px;
	padding: 16px 0;
	background-color: #35150291;
	flex: 1 1 auto;
	border-radius: 8px;
}

.socials {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.socials > * > * {
	height: 2.5rem;
}

@media (min-width: 1200px) {
	.socials {
		display: inline-flex;
	}
	.socials > * > * {
		height: 1.5rem;
	}
}

section {
	padding: 0 32px;
}

hr {
	border: solid 1px #3a2402;
	margin: 16px 0;
	padding: 0;
}

.small {
	color: #c8b6a0;
	margin-top: 0;
}

h1 {
	margin-right: 16px;
	font-size: 2rem;
	color: #ffd8a4;
	display: inline;
	margin-bottom: 0;
}

h2,
h3 {
	margin: 0;
}

ul,
ol {
	margin: 8px 0;
}

p,
section > a {
	margin: 8px 0;
	max-width: 70ch;
}

table,
th,
td {
	border: 1px solid;
}

td,
th {
	padding: 8px;
}

table {
	margin: 8px 0;
}

label {
	display: flex;
	align-items: center;
	gap: 8px;
	max-width: max-content;
}

pre {
	background-color: #351502;
	padding: 8px;
	margin: 8px 0;
}
